/* Delete all refereces to this file common_test.css for the actual website.
   This is bad practice, and only used for development convenience */

/* Back to HUB */

#back-to-test {
    background-color: black;
    color: white;
    position: absolute;
    top: 10px;
    left: 10px;
    /* height: 50px;
    width: 50px; */
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    opacity: 0.7;
    padding: 5px;
}

#back-to-test:hover {
    opacity: 1;
    background-color: pink;
    color: black;
}
