/* HUB */

#back-to-test {
    background-color: black;
    color: white;
    position: absolute;
    top: 10px;
    left: 10px;
    /* display: inline; */
    height: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    opacity: 0.7;
}

#back-to-test:hover {
    opacity: 1;
    background-color: pink;
    color: black;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 1rem;
}

.basic-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    flex-direction: column;
    background-color: var(--color-primary);
    opacity: 0.6;
}

.card a {
    text-decoration: none;
}

.card:hover {
    transform: translateY(-3px) scale(1.1);
    opacity: 1;
}
