@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
    font-family: "Open Sans", sans-serif;
}

:root {
    /* CSS variables */
    --link-color: #eb6060;
    --link-color-hover: red;
    --link-border: 2px solid var(--link-color);
}

/* HUB */

#back-to-test {
    background-color: black;
    color: white;
    position: absolute;
    top: 10px;
    left: 10px;
    /* height: 50px;
    width: 50px; */
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    opacity: 0.7;
    padding: 5px;
}

#back-to-test:hover {
    opacity: 1;
    background-color: pink;
    color: black;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 1rem;
}

.basic-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    flex-direction: column;
    background-color: var(--color-primary);
    opacity: 0.6;
    padding: 5px;
}

.card a {
    text-decoration: none;
    color: var(--link-color);
    padding: 2px;
    font-size: 1.5rem;
    border: 2px solid var(--link-color);
    margin: 2.5px 0;
}

.card .card-link:hover {
    color: var(--link-color-hover);
    cursor: pointer;
    border-color: var(--link-color-hover);
}

.card .preview {
    font-size: 1.5rem;
    border: 2px solid var(--link-color);
    color: var(--link-color);
    margin: 2.5px 0;
    padding: 2px;
}

.card:hover {
    transform: translateY(-3px) scale(1.1);
    opacity: 1;
}

/* DEMO */
#demo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 10px 0 0 0;
}

#demo-container iframe {
    /* Dimensions fro Galaxy S5 */
    width: 360px;
    height: 640px;
    background-color: rgba(235, 235, 235, 1);
}

/* Media Queries */
@media only screen and (max-width: 500px) {
    #demo-container iframe {
        width: 100%;
    }
}
