* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica sans-serif;
}

/* CSS variables */
:root {
    --color-primary: rgb(217, 182, 189);
    --color-secondary: rgb(242, 196, 147);
}

/* TEST */
#back-to-test {
    background-color: black;
    color: white;
    position: absolute;
    top: 10px;
    left: 10px;
    /* display: inline; */
    height: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    opacity: 0.7;
}

#back-to-test:hover {
    opacity: 1;
    background-color: pink;
    color: black;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 1rem;
}

.basic-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    flex-direction: column;
    background-color: var(--color-primary);
    opacity: 0.6;
}

.card a {
    text-decoration: none;
}

.card:hover {
    transform: translateY(-3px) scale(1.1);
    opacity: 1;
}

/* LOGO */

#landing-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#logo path {
    /* stroke-dasharray: 1px; */
    opacity: 0;
    animation: opacity-fade-in ease-in forwards 2s;
    animation-delay: 0.3s;
}

@keyframes line-animation {
    from {
        /* opacity: 0.2; */
    }
    to {
        stroke-dashoffset: 0px;
        opacity: 1;
    }
}

@keyframes opacity-fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#location-container {
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
}

#location-container iframe {
    height: 80%;
    min-width: 200px;
    width: 300px;
}
