@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
}

:root {
  /* CSS VARALIBES */
  --color-primary: rgb(217, 182, 189);
  --color-secondary: rgb(242, 196, 147);
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #fff;
}

body::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 5%;
}
header li,
header a,
header button {
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}
header .navbar-list {
  list-style: none;
}
header .navbar-item {
  display: inline-block;
  padding: 0px 25px;
}
header .nav-link {
  color: #6f645b;
  transition: all 0.3s ease 0s;
}
header .nav-link:hover {
  color: var(--color-primary);
  cursor: pointer;
}
header .nav-link::after {
  content: "";
  height: 2px;
  width: 0%;
  background-color: var(--color-primary);
  opacity: 0.8;
  display: block;
}
header .nav-link:hover::after {
  width: 100%;
  transition: width 0.5s ease-out;
}

button {
  padding: 10px 25px;
  margin: 0px 10px;
  opacity: 0.8;
  background-color: var(--color-primary);
  border: none;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
  color: white;
}

button:hover {
  background-color: var(--color-primary);
  opacity: 1;
  cursor: pointer;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.2);
}

#navbar-logo {
  width: 90px;
  height: 90px;
}

#fixed-menu-icon-container {
  position: fixed;
  top: 50vh;
  left: 20px;
  padding: 16px;
  background-color: white;
  opacity: 1;
  border: 3px solid var(--color-primary);
  border-radius: 100%;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.5);
}
#fixed-menu-icon-container .menu-icon-closed {
  transition: transform 0.3s cubic-bezier(0.28, 1.84, 0.42, 1);
  height: 70px;
  width: 70px;
}
#fixed-menu-icon-container .menu-icon-closed:hover {
  transform: rotate(-20deg);
  cursor: pointer;
}

.photo-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 240px;
}

.photo-grid-card {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 768px) {
  /* Styles */
  #fixed-menu-icon-container {
    top: auto;
    left: auto;
    right: 20px;
    bottom: 20px;
  }
  #fixed-menu-icon-container .menu-icon-closed {
    transition: transform 0.3s cubic-bezier(0.28, 1.84, 0.42, 1);
    max-height: 40px;
    max-width: 40px;
  }
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
  .photo-grid-card-tall {
    grid-row: 2 span/auto;
  }

  .photo-grid-card-wide {
    grid-column: 2 span/auto;
  }
}
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}
/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}

/*# sourceMappingURL=style.css.map */
