@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    background-color: #fff;
}

:root {
    /* CSS VARALIBES */
    --color-primary: rgb(217, 182, 189);
    --color-secondary: rgb(242, 196, 147);
    --text-color-primary: rgb(10, 10, 10);
}

// Scroll Bar
body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: rgb(235, 235, 235);
}

body::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 20px;
}

// MISC CLASSES
.hide {
    display: none;
}

.button-primary {
    padding: 10px 25px;
    margin: 0px 10px;
    opacity: 0.8;
    background-color: var(--color-primary);
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    color: white;
}

.button-primary:hover {
    background-color: var(--color-primary);
    opacity: 1;
    cursor: pointer;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.2);
}

// HEADER

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
    height: 15vh;

    li,
    a,
    button {
        // font-family: ;
        font-weight: 500;
        font-size: 16px;
        text-decoration: none;
    }

    // NAVIGATION BAR
    .navbar-list {
        list-style: none;
    }

    .navbar-item {
        display: inline-block;
        padding: 0px 25px;
    }

    .nav-link {
        color: #6f645b;
        transition: all 0.3s ease 0s;
    }

    .nav-link:hover {
        color: var(--color-primary);
        cursor: pointer;
    }

    .nav-link::after {
        content: "";
        height: 2px;
        width: 0%;
        background-color: var(--color-primary);
        opacity: 0.8;
        display: block;
    }

    .nav-link:hover::after {
        width: 100%;
        transition: width 0.5s ease-out;
    }
}

// BUTTONS

#navbar-logo {
    width: 90px;
    height: 90px;
}

// MAIN - Landing Content
#landing-container {
    background-image: url("https://images.unsplash.com/photo-1493606278519-11aa9f86e40a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-attachment: local;
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        background-color: transparent;
        position: relative;
        left: -20%;
        top: -20%;
        color: var(--text-color-primary);
        word-wrap: break-word;
        padding: 0 1rem;
        // font-weight: 500;
    }

    span {
        font-weight: bold;
        color: var(--color-primary);
    }
}

// Our Story Container

#our-story-container {
    width: 100%;
    min-height: 40vh;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;

    h1 {
        margin-bottom: 3rem;
    }
    .text-container {
        text-align: center;
        margin: 5rem 10%;
    }

    .our-story-image {
        max-width: 80%;
        margin-top: 5rem;
    }
}

// MENU ICON
#fixed-menu-icon-container {
    position: fixed;
    top: 50vh;
    left: 20px;
    padding: 16px;
    background-color: white;
    opacity: 1;
    border: 3px solid var(--color-primary);
    border-radius: 100%;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.5);
    animation: fadein 1s ease-out;

    // transition: transform 0.5s linear;

    .menu-icon-closed {
        // position: relative;
        transition: transform 0.3s cubic-bezier(0.28, 1.84, 0.42, 1);
        height: 70px;
        width: 70px;
    }
    .menu-icon-closed:hover {
        // transform: translate(10px, 0px);
        transform: rotate(-20deg);
        cursor: pointer;
    }
}

// Photo Gallery
.photo-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 240px;
}

.photo-grid-card {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

// Footer

#footer-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 5rem 5px;
}

// Media Queries : Template used from - https://gist.github.com/marcobarbosa/798569

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
    /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 768px) {
    /* Styles */
    // MAIN - Landing Content
    #landing-container {
        h1 {
            position: static;
            background-color: transparent;
            color: var(--color-primary);
        }
    }
    #fixed-menu-icon-container {
        top: auto;
        left: auto;
        right: 20px;
        bottom: 20px;

        .menu-icon-closed {
            // position: relative;
            transition: transform 0.3s cubic-bezier(0.28, 1.84, 0.42, 1);
            max-height: 40px;
            max-width: 40px;
        }
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* Styles */
}

@media only screen and (max-device-width: 768px) {
    // Styles
    .navbar-list {
        display: none;
    }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
    /* Styles */

    .photo-grid-card-tall {
        grid-row: 2 span / auto; // => start / end
    }

    .photo-grid-card-wide {
        grid-column: 2 span / auto;
    }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
    /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5) {
    /* Styles */
}

// Key Frame Animation
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
