@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    background-color: #fff;
}

:root {
    /* CSS VARALIBES */
    --color-primary: rgb(217, 182, 189);
    --color-secondary: rgb(242, 196, 147);
}

// Scroll Bar
body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: #fff;
}

body::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 20px;
}

// NAVIGATION BAR

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;

    li,
    a,
    button {
        // font-family: ;
        font-weight: 500;
        font-size: 16px;
        text-decoration: none;
    }

    .navbar-nav {
        list-style: none;
    }

    .navbar-item {
        display: inline-block;
        padding: 0px 25px;
    }

    .nav-link {
        color: #6f645b;
        transition: all 0.3s ease 0s;
    }

    .nav-link:hover {
        color: var(--color-primary);
        cursor: pointer;
    }
}

button {
    padding: 10px 25px;
    margin: 0px 10px;
    opacity: 0.8;
    background-color: var(--color-primary);
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    color: white;
}

button:hover {
    background-color: var(--color-primary);
    opacity: 1;
    cursor: pointer;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.2);
}

#navbar-logo {
    width: 90px;
    height: 90px;
}

// MENU ICON
#fixed-menu-icon-container {
    position: fixed;
    top: 50vh;
    left: 20px;
    padding: 16px;
    background-color: white;
    opacity: 1;
    border: 3px solid var(--color-primary);
    border-radius: 100%;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.5);

    // transition: transform 0.5s linear;

    .menu-icon-closed {
        // position: relative;
        transition: transform 0.3s cubic-bezier(0.28, 1.84, 0.42, 1);
        height: 70px;
        width: 70px;
    }
    .menu-icon-closed:hover {
        // transform: translate(10px, 0px);
        transform: rotate(-20deg);
        cursor: pointer;
    }
}

// Key Frame Animation

// Media Queries

@media screen and (max-width: 800px) {
    #fixed-menu-icon-container {
        top: auto;
        left: auto;
        right: 20px;
        bottom: 20px;

        .menu-icon-closed {
            // position: relative;
            transition: transform 0.3s cubic-bezier(0.28, 1.84, 0.42, 1);
            max-height: 40px;
            max-width: 40px;
        }
    }
}
