* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica sans-serif;
}

/* CSS variables */
:root {
    --color-primary: rgb(217, 182, 189);
    --color-secondary: rgb(242, 196, 147);
}

/* LOGO */

#landing-container {
    background-image: url("https://images.pexels.com/photos/374885/pexels-photo-374885.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#logo rect {
    stroke-dasharray: 822px;
    stroke-dashoffset: 822px;
    opacity: 0.2;
    animation: line-animation ease-in-out forwards 3s;
}

#logo path {
    /* stroke-dasharray: 1px; */
    opacity: 0;
    animation: opacity-fade-in ease-in forwards 2s;
    animation-delay: 0.3s;
}

@keyframes line-animation {
    from {
        /* opacity: 0.2; */
    }
    to {
        stroke-dashoffset: 0px;
        opacity: 1;
    }
}

@keyframes opacity-fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#location-container {
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
}

#location-container iframe {
    height: 80%;
    min-width: 200px;
    width: 300px;
}
